@use '@helpers' as *;

.promotion .bgc-yellow {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(243, 255, 222, 0.35);

  @media (max-width: em(767.98)) {
    width: 100%;
  }
}

.promotion {
  position: relative;
  padding-block: fluid(50, 20);

  &__container {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: em(767.98)) {
      flex-direction: column;
    }
  }

  &__content,
  &__timer {
    flex: 0 1 50%;

    @media (max-width: em(767.98)) {
      flex: 0 1 100%;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: fluid(40, 20);
    }
  }

  &__descr {
    font-size: 20px;
    font-weight: 300;

    .percent {
      font-size: 26px;
      font-weight: 700;
    }
  }

  &__end-date {
    font-weight: 700;
  }

  &__timer {
    .title {
      text-align: right;

      &:not(:last-child) {
        margin-bottom: fluid(60, 20);
      }
    }
  }
}
