@use '@helpers' as *;

.hero {
  position: relative;
  display: flex;
  min-height: 100dvh;

  &__container {
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__life {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 700;
  }
}

.tabs {
  display: flex;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);

  &__body {
    flex: 0 1 70%;
    position: relative;
  }

  // &__content {
  // }

  &__images {
    aspect-ratio: 4/3;
  }

  &__descr {
    position: absolute;
    right: -30%;
    bottom: -8%;
    max-width: 450px;
    padding: fluid(25, 15);
    font-size: fluid(22, 16);
    font-weight: 300;
    background: rgba(251, 254, 93, 0.7);
  }

  &__header {
    flex: 0 1 30%;
    padding: fluid(30, 15);
  }

  &__title {
    font-size: 16px;
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: fluid(35, 15);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    // gap: 10px;
    padding-left: fluid(25, 15);
    border-left: var(--border);
  }

  &__button {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    text-align: left;

    &.is-active {
      font-size: 18px;
      font-weight: 700;
      color: var(--color-dark);
    }
  }
}
