@use '@helpers' as *;

.hero {
  position: relative;
  display: flex;
  min-height: 100dvh;

  &__container {
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .tabs {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  &__title {
    padding-left: fluid(25, 10);
    font-size: 20px;
    font-weight: 700;
  }
}

.tabs {
  display: flex;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);

  @media (max-width: em(991.98)) {
    flex-direction: column-reverse;
  }

  &__body {
    flex: 1 1 auto;
    position: relative;
  }

  &__header {
    width: 100%;
    max-width: 250px;
    padding: fluid(30, 15);

    @media (max-width: em(991.98)) {
      max-width: 100%;
      padding-inline: 5px;
    }
  }

  &__images {
    aspect-ratio: 850 / 500;
  }

  &__descr {
    position: absolute;
    right: -30%;
    bottom: -8%;
    display: none;
    max-width: 450px;
    padding: fluid(25, 15);
    font-size: fluid(22, 16);
    font-weight: 300;
    background: rgba(251, 254, 93, 0.7);
  }

  &__title {
    font-size: 16px;
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: fluid(35, 15);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    padding-left: fluid(25, 15);
    border-left: var(--border);

    @media (max-width: em(991.98)) {
      flex-flow: row wrap;
      gap: 10px;
      padding-left: 0;
      border-left: none;
    }
  }

  &__button {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    text-align: left;

    @include hover {
      color: var(--accent-color);
    }

    &.is-active {
      font-weight: 700;
      color: var(--color-dark);
    }
  }
}
