@use '@helpers' as *;

.field {
  --field-color-label: var(--color-gray);
  --field-color-label-active: var(--color-gray);
  --field-color-border: var(--color-white);
  --field-color-active: var(--color-gray);
  --field-color-focus-bcg: var(--color-white);

  position: relative;

  &:has(.field__input:not(:placeholder-shown)) .field__label {
    // обращаемся к label только когда плейсхолдер не должен отображаться
    color: var(--field-color-label-active);
    scale: 0.7;
    translate: -24px -45px; // надо подбирать
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 17px; //  как в макете
    color: var(--field-color-label);
    translate: 0 -50%;
  }

  &__input {
    --field-input-padding-x: 16px; //  как в макете
    --field-search-input-icon-size: 16px;

    // Стандартное свойство (убираем стрелки выбора цифры)
    appearance: none;
    appearance: textfield;
    appearance: textfield;
    width: 100%;
    height: 44px;
    padding-inline: var(--field-input-padding-x);
    background-color: transparent;
    border: 1px solid var(--field-color-border);
    border-radius: 8px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &:hover,
    &:focus {
      color: var(--field-color-active);
    }

    &:focus {
      background-color: var(--field-color-focus-bcg);
      outline: none;
    }

    &.error {
      border: 1px solid red;
    }

    &[type='search'] {
      &:placeholder-shown {
        //  когда плейсхолдер на инпуте должен отображаться, отображаем иконку
        padding-right: calc(
          var(--field-input-padding-x) * 2 + var(--field-search-input-icon-size)
        );
        background-image: url('@/shared/assets/img/components/icon-search_black.svg');
        background-position: calc(100% - var(--field-input-padding-x)) 50%;
        background-size: var(--field-search-input-icon-size);
        background-repeat: no-repeat;
      }
    }
  }
}

/* 
<div class="field">
  <label class="field__label" for="new-task">New task title</label>
  <input class="field__input" id="new-task" placeholder=" " autocomplete="off">
</div>
<div class="field">
  <label class="field__label" for="search-task">Search task</label>
  <input class="field__input" id="search-task" placeholder=" " autocomplete="off" type="search">
</div>
*/
