@use '@helpers' as *;

.offer {
  position: relative;
  padding: 70px 0 100px;
  background-color: rgba(243, 255, 222, 0.45);
}

.offer__row {
  display: flex;
  justify-content: space-between;
}

.offer__text {
  width: 580px;
}

.offer__descr {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.offer__action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.offer__advantages {
  width: 330px;
  margin-top: 50px;
}

.offer__advantages h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.offer__advantages h3:first-child {
  margin-top: 70px;
}

.offer__advantages-text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.offer__slider {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 650px;
  margin-top: 50px;
}

.offer__slider-counter {
  display: flex;
  align-items: center;
  width: 180px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.offer__slider-wrapper {
  width: 100%;
  margin-top: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
}

.offer__slider-prev {
  margin-right: 10px;
  cursor: pointer;
}

.offer__slider-next {
  margin-left: 10px;
  cursor: pointer;
}

.offer__slider #current {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
}

.offer__slide {
  width: 100%;
  height: 390px;
}

.offer__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
