@use '@helpers' as *;

.offer {
  padding-block: fluid(50, 20);
  background-color: rgba(243, 255, 222, 0.45);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media (max-width: em(767.98)) {
      flex-direction: column-reverse;
    }
  }

  &__text {
    max-width: 580px;
  }

  &__advantages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 330px;
  }

  &__slider {
    max-width: 650px;
  }

  &__text,
  &__advantages,
  &__slider {
    @media (max-width: em(767.98)) {
      max-width: 100%;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: fluid(30, 15);
    }
  }

  &__descr,
  &__advantages-text {
    font-size: 18px;
    font-weight: 300;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__advantages-title {
    font-size: 20px;
    font-weight: 700;
  }
}
