@use '@helpers' as *;

.calculating {
  padding-block: fluid(50, 20);

  #gender::after {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: 16px;
    height: 16px;
    background: url('@/shared/assets/img/icons/switch.svg') center center/cover
      no-repeat;
    transform: translateY(-50%);
  }

  &__title {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: fluid(30, 15);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 15px;
    background-color: rgba(146, 242, 255, 0.15);

    @media (max-width: em(600)) {
      padding: 30px -15px;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 700;
  }

  &__choose {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &--medium,
    &--big {
      justify-content: space-between;
      gap: 1rem;
      width: 100%;

      @media (max-width: em(600)) {
        justify-content: center;
      }
    }

    &--medium {
      max-width: 743px;
    }

    &--big {
      max-width: 930px;

      .calculating__choose-item {
        width: 200px;
      }
    }
  }

  &__choose-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 44px;
    padding: 0 10px;
    font-size: 14px;
    text-align: center;
    background-color: var(--color-white);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    @include hover {
      transform: scale(0.97);
    }

    &.is-active {
      color: var(--color-white);
      background-color: #54ed39;
    }
  }

  &__divider {
    width: 100%;
    max-width: 490px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 490px;
  }

  &__result {
    font-size: 18px;
    font-weight: 700;

    span {
      font-size: fluid(42, 22);
    }
  }
}
