@use '@helpers' as *;

.order {
  padding-block: fluid(80, 20);

  &__title {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: fluid(70, 20);
    }
  }

  &__form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px 16px;

    @media (max-width: em(767.98)) {
      flex-direction: column;
    }

    img {
      transform: scale(1.5);
    }
  }

  &__field {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
}
